//- <!-- ////////////// FOOTER ////////////// -->
footer.tubiuld
	.container
		.row.cha
			.col-md-4
				img(src="../img/Untitled-4.png", alt="")
				p.one Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nobis quibusdam enim. Sequi, voluptate rem debitis incidunt hic veniam,
				p.hear Lorem ipsum dolor sit amet consectetur adipisicing elit.
			.col-md-8
				.row.son
					.col-md-4
						.title
							span FULLSTACKVIETNAM
						.titleson
							p Cool stuff
							p Random feature
							p Tea feature
							p Stuff of developers
							p another one
							p last time
					.col-md-4
						.title
							span FULLSTACKVIETNAM
						.titleson
							p Cool stuff
							p Random feature
							p Tea feature
							p Stuff of developers
							p another one
							p last time
					.col-md-4
						.title
							span FULLSTACKVIETNAM
						.titleson
							p Cool stuff
							p Random feature
							p Tea feature
							p Stuff of developers
							p another one
							p lasttime







//- footer.pt-4.my-md-5.border-top
//- 	.container
//- 		.row
//- 			.col-12.col-md
//- 				img.mb-2(src="./img/logo.png" alt="")
//- 				small.d-block.mb-3.text-muted Copyright 2018 by 
//- 					a(href='/') FullStack Vietnam.
//- 			.col-6.col-md
//- 				h5 Features
//- 				ul.list-unstyled.text-small
//- 					li
//- 						a.text-muted(href="#") Cool stuff
//- 					li
//- 						a.text-muted(href="#") Random feature
//- 					li
//- 						a.text-muted(href="#") Team feature
//- 					li
//- 						a.text-muted(href="#") Stuff for developers
//- 					li
//- 						a.text-muted(href="#") Another one
//- 					li
//- 						a.text-muted(href="#") Last time
//- 			.col-6.col-md
//- 				h5 Resources
//- 				ul.list-unstyled.text-small
//- 					li
//- 						a.text-muted(href="#") Resource
//- 					li
//- 						a.text-muted(href="#") Resource name
//- 					li
//- 						a.text-muted(href="#") Another resource
//- 					li
//- 						a.text-muted(href="#") Final resource
//- 			.col-6.col-md
//- 				h5 About
//- 				ul.list-unstyled.text-small
//- 					li
//- 						a.text-muted(href="#") Team
//- 					li
//- 						a.text-muted(href="#") Locations
//- 					li
//- 						a.text-muted(href="#") Privacy
//- 					li
//- 						a.text-muted(href="#") Terms
